@import "../colors.rasi"

* {
  background-color:       @background;
  text-color:             @foreground;
	font:				 	          "JetBrains Mono Medium 10";
}

window {
    width:      			    180px;
    padding:    			    20px;
    border:					      2px;
    border-radius:        8px;
    border-color:         @selected;
    location:             center;
    x-offset:             0;
    y-offset:             -4%;
}

entry {
    expand: 				      true;
    text-color:				    @selected;
}
